<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>Financeiro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">
  <div #imprimir id="imprimir">
    <table class="table" *ngIf="objRelatorio.length !== 0">
      <thead>
        <tr class="alert alert-info">
          <th style="font-size: 20px;" colspan="6" class="text-center">
            Financeiro
          </th>
        </tr>
        <tr class="alert alert-info">
          <th>Cód produto</th>
          <th>Nome</th>
          <th>Total Vlr.Venda</th>
          <th>Total Vlr.Estoque</th>
          <th>Vlr. inicial estoque</th>
          <th>Vlr. estoque após venda</th>
        </tr>
      </thead>
      <tbody *ngFor="let obj of objRelatorio; let i = index" class="pb-4">
        <tr *ngFor="let produto of obj.produtos">
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>{{ produto.valor_total | number: '1.2-2' }}</td>
          <td>{{ produto.valor_unitario * produto.quantidade_original | number: '1.2-2' }}</td>
          <td>{{ produto.valor_total_cadastrado | number: '1.2-2' }}</td>
          <td>{{ produto.valor_total_original | number: '1.2-2' }}</td>
        </tr>
        <br />
      </tbody>
    </table>
  </div>

  <h5 *ngIf="objRelatorio.length === 0" style="margin-top: 5px;"
    class="text-center font-weight-bold alert alert-warning small">
    Nenhuma venda localizada
  </h5>
</ion-content>

<ion-footer class="border-0">
  <button [disabled]="gerando" (click)="downloadPdf()" class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button">
    <span class="float-left">
      <ion-icon name="document-text-outline"></ion-icon>
      Exportar para PDF
      <ion-spinner *ngIf="gerando" name="bubbles"></ion-spinner>
    </span>
  </button>
</ion-footer>
