<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar [solicitar_confirmacao]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>
      Balanço -
      <span class="badge badge-light" *ngIf="objBalanco.dados_json.finalizado === false">Pendente</span>
      <span class="badge badge-warning" *ngIf="objBalanco.dados_json.finalizado === true">Finalizado</span>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-toggle color="light" [(ngModel)]="objBalanco.dados_json.finalizado"></ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding order-list-page ion-padding order-list-page shop-cart-page" color="light">
  <ng-container>
    <app-lookup (OnBuscaPorId)="OnSelecionarLocalEstoque($event)" [value]="objBalanco.dados_json.estoque_locais"
      (OnSelecionar)="OnSelecionarLocalEstoque()" (OnLimpar)="OnLimparLocalEstoque()" [titulo]="'Local de estoque'"
      [icone]="'📦'">
    </app-lookup>

    <ion-button (click)="mostrarOpcoesGerais()" expand="block" size="small" color="primary">
      Opções gerais do balanço
    </ion-button>

    <div class="card mb-2">
      <p *ngIf="objBalanco.dados_json.observacao" class="justify-content-between py-3 px-3 border-top text-dark">
        <ion-icon style="float: right;" color="danger" name="close-circle-outline" (click)="limparObservacaoBalanco()"></ion-icon>
        <b>Observação:</b> {{objBalanco.dados_json.observacao}}
      </p>
    </div>

    <app-cabecalho-pesquisa-produto [nao_exibir_consultando]="true" [tela_balanco]="this"
      (OnConsultou)="OnConsultou($event)" #cabecalho [permitir_quantidade_zero]="true" [modal]="modal">
    </app-cabecalho-pesquisa-produto>

    <p class="text-center" *ngIf="objBalanco.dados_json.produtos">
      {{objBalanco.dados_json.produtos.length}} produto(s) lançado(s)
    </p>

    <div *ngFor="let registro of objBalanco.dados_json.produtos, let i = index"
      class="d-flex p-3 shop-cart-item bg-white mb-2">
      <div class="shop-cart-left">
        <app-img [base64]="registro.imagem"></app-img>
      </div>
      <div class="shop-cart-right">
        <div (click)="mostrarOpcoesProduto(registro, i)">
          <h6 class="font-weight-bold text-dark mb-1 small text-left m-0">
            <span class="text-secondary font-weight-normal">Cód: {{registro.id_produto_erp}}</span>
          </h6>
          <div class="mb-2">
            {{registro.descricao}}
            <br />
            <small style="font-size: 11px;"> Cod. Barra: <b>{{registro.gtin}}</b></small>
          </div>
        </div>
        <p *ngIf="registro.observacao" class="justify-content-between py-3 px-3 border-top text-dark">
          <ion-icon style="float: right;" color="danger" name="close-circle-outline"
            (click)="limparObservacaoItem(registro)">
          </ion-icon>
          <b>Observação:</b> {{registro.observacao}}
        </p>

        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
          <div class="input-group shop-cart-value">
            <span class="input-group-btn">
              <button (click)="ajustarQuantidade(registro, i, -1)" class="btn btn-sm" type="button">-</button>
            </span>
            <input (ngModelChange)="alterouQuantidadeManualmente(registro, $event)" type="number"
              [(ngModel)]="registro.quantidade" class="form-control border-form-control form-control-sm input-number" />
            <span class="input-group-btn">
              <button (click)="ajustarQuantidade(registro, i, 1)" class="btn btn-sm" type="button">+</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-footer class="border-0">
  <button (click)="SalvarBalanco()" class="btn btn-primary btn-lg btn-block fix-btn text-left" type="button">
    <span class="float-left">
      <ion-icon name="albums-outline"></ion-icon>
      Salvar <span>Balanço</span>
    </span>
  </button>
</ion-footer>
