<div class="card mb-2 {{GetClasse()}}">
  <div class="p-2">
    <div *ngIf="objVenda.cliente" class="d-flex justify-content-between mb-2">
      <div class="text-secondary"><span style="font-size: 12px;">Cliente</span>
        <br /> <b>{{objVenda.cliente.id}} -
          {{objVenda.cliente.descricao}}</b>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <div class="text-secondary"><span style="font-size: 12px;">Data do Venda</span> <br />
        <b>{{objVenda.data | date:'dd/MM/yyyy HH:mm'}}</b>
      </div>
      <div class="text-secondary"><span style="font-size: 12px;">Total bruto</span> <br />
        <b>R$ {{objVenda.total_bruto | number: '1.2-2'}}</b>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-1 px-3 border-top text-dark">
      <h6 class="font-weight-bold m-0">Total líquido</h6>
      <h6 class="font-weight-bold m-0">
        <ion-badge color="warning">R$ {{objVenda.total_liquido | number: '1.2-2'}}</ion-badge>
      </h6>
    </div>
    <ng-container *ngIf="objVenda.status_manipulacao === 1">
      <p class="text-center">Sincronizando com o servidor online...</p>
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    </ng-container>
    <ng-container *ngIf="objVenda.status_manipulacao === 2">
      <p class="text-center">Excluindo...</p>
      <ion-progress-bar color="danger" type="indeterminate"></ion-progress-bar>
    </ng-container>
  </div>
</div>
