<div class="card mb-2 {{GetClasse()}}">
  <div class="p-2">
    <div class="d-flex justify-content-between mb-2">
      <div class="text-secondary"><span style="font-size: 12px;">Quantidade produtos</span> <br />
        <b>{{objVenda.produtos.length}}</b>
      </div>
      <div class="text-secondary"><span style="font-size: 12px;">Valor Total</span> <br />
        <b>R$ {{objVenda.valor_total | number: '1.2-2'}}</b>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <div class="text-secondary"><span style="font-size: 12px;">Data do Venda</span> <br />
        <b>{{objVenda.data | date:'dd/MM/yyyy HH:mm'}}</b>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-1 px-3 border-top text-dark" *ngIf="objVenda.observacao">
      <h6 class="font-weight-bold m-0">Observação</h6>
      <h6 class="font-weight-bold m-0">
        <ion-badge color="warning">R$ {{objVenda.observacao}}</ion-badge>
      </h6>
    </div>
  </div>
</div>
