<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar></app-btn-voltar>
    </ion-buttons>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="content_div">
      <div class="grid_box">
        <div class="box_div" (click)="goTo('/home/vendas')">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Venda</ion-label>
        </div>
        <div class="box_div" (click)="goTo('/home/balanco')">
          <ion-icon name="receipt-outline"></ion-icon>
          <ion-label>Estoque</ion-label>
        </div>
      </div>
      <div class="grid_box">
        <div class="box_div" (click)="goTo('/home/produtos')">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Produtos</ion-label>
        </div>
        <div class="box_div" (click)="goTo('/home/importacao')">
          <ion-icon name="cloud-download-outline"></ion-icon>
          <ion-label>Importação</ion-label>
        </div>
      </div>
      <ion-badge (click)="limparAplicativo()" color="danger">
        <ion-icon name="trash-outline"></ion-icon> Limpar aplicativo
      </ion-badge>
    </div>
  </div>
</ion-content>
