<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar (OnVoltou)="aplicar()" [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>
      Consulta de produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <app-cabecalho-pesquisa-produto [texto_pesquisado]="texto_pesquisado" [nao_exibir_consultando]="true" [modal]="modal">
  </app-cabecalho-pesquisa-produto>
  <p class="text-center" *ngIf="registros">
    {{registros.length}} produto(s) localizado(s)
  </p>
  <app-consultando *ngIf="consultando"></app-consultando>
  <div class="card" *ngIf="!consultando">
    <div *ngFor="let registro of registros; let i = index" class="d-flex p-3 shop-cart-item bg-white mb-2 sem-mb">
      <div class="shop-cart-left" *ngIf="registro.mostrar_foto">
        <app-img [base64]="registro.imagem" [index]="i" [descricao]="registro.descricao"></app-img>
      </div>
      <div class="shop-cart-right">
        <h6 style="font-size: 10px !important;" class="font-weight-bold text-dark mb-2 small"
          (click)="mostrarFoto(registro)">
        </h6>
        <h6 style="font-size: 10px !important;" class="font-weight-bold text-dark mb-2 small"
          (click)="mostrarFoto(registro)">
        </h6>
        <h6 class="font-weight-bold text-dark mb-2 small" (click)="mostrarFoto(registro)">
          <span class="text-secondary font-weight-normal">Cód: {{registro.id_produto}}</span> |
          <ion-badge color="success">
            R$ {{registro.valor_unitario| number: '1.2-2'}}
          </ion-badge>
          x{{registro.quantidade | number: '1.0-3'}} = R$ {{registro.valor_unitario | number: '1.2-2'}}
          <ion-icon size="large" class="float-right" color="success" name="checkmark-done-circle-outline"
            *ngIf="registro.quantidade > 0 || (cabecalho_parente?.permitir_quantidade_zero === true && registro.quantidade == 0)">
          </ion-icon>
        </h6>
        <div class="mb-2" (click)="mostrarFoto(registro)">
          {{registro.descricao}}
        </div>
        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
          <small class="text-secondary">Saldo geral: {{registro.saldo_total | number: '1.0-3'}}</small>
          <div class="input-group shop-cart-value">
            <span class="input-group-btn">
              <button (click)="diminuirQuantidade(registro)" class="btn btn-sm" type="button">-</button>
            </span>
            <input type="number" min="0" [(ngModel)]="registro.quantidade"
              (ngModelChange)="onAlterouQuantidadeManualmente(registro)"
              class="form-control border-form-control form-control-sm input-number">
            <span class="input-group-btn">
              <button (click)="aumentarQuantidade(registro)" class="btn btn-sm" type="button">+</button>
            </span>
          </div>
        </div>
        <div *ngIf="registro.quantidade_adicionada"
          class="small text-gray-500 d-flex align-items-center justify-content-between">
          <small class="text-secondary">Quantidade já adicionada</small>
          <div class="input-group shop-cart-value">
            <span class="input-group-btn"></span>
            <input type="number" min="0" [(ngModel)]="registro.quantidade_adicionada" readonly="readonly"
              class="form-control border-form-control form-control-sm input-number">
            <span class="input-group-btn"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="AbrirTelaCadastro()">
    <ion-fab-button>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br />
</ion-content>
<ion-footer class="border-0">
  <ion-button *ngIf="!apenas_consulta" (click)="aplicar()" expand="block">
    Aplicar quantidades selecionadas
    <ion-icon name="checkmark-done-outline"></ion-icon>
  </ion-button>

  <ion-button color="warning" *ngIf="apenas_consulta" (click)="aplicar()" expand="block">
    Fechar consulta
    <ion-icon name="cube-outline"></ion-icon>
  </ion-button>
</ion-footer>
