<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>
      Detalhes da venda
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">

  <div #imprimir id="imprimir">
    <app-cabecalho *ngIf="gerando"></app-cabecalho>
    <table class="table">
      <thead>
        <tr>
          <th style="font-size: 25px;" colspan="4" class="text-center">
            <p class="alert alert-info">Comprovante da venda</p>
          </th>
        </tr>
        <tr>
          <td class="text-right"><b>Cliente</b></td>
          <td>{{objVenda.cliente.id}} - {{objVenda.cliente.descricao}}</td>
          <td class="text-right"><b>Data</b></td>
          <td>{{objVenda.data | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </thead>
    </table>
    <br />
    <table class="table" *ngIf="objVenda.produtos">
      <thead>
        <tr class="alert alert-info">
          <th style="font-size: 20px;" colspan="6" class="text-center">{{objVenda.produtos.length}} item(ns) lançado(s)
          </th>
        </tr>
        <tr class="alert alert-info">
          <th>Id</th>
          <th>Descrição</th>
          <th>Cód.Barras</th>
          <th class="text-right">Vlr.Uni</th>
          <th class="text-right">Qtde</th>
          <th class="text-right">Líquido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of objVenda.produtos">
          <td>{{registro.id_produto}}</td>
          <td>{{registro.descricao}}</td>
          <td>{{registro.gtin}}</td>
          <td class="text-right">{{registro.valor_unitario | number: '1.2-2'}}</td>
          <td class="text-right">{{registro.quantidade | number: '1.0-3'}}</td>
          <td class="text-right">{{registro.total_liquido | number: '1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <br />
    <p style="font-size: 20px;" class="text-center alert alert-info"><b>Totalizadores</b></p>
    <table class="table">
      <tbody>
        <tr>
          <td class="text-right"><b>Qtde.Produtos</b></td>
          <td>{{objVenda.quantidade_produtos_lancados | number: '1.0-3'}}</td>
          <td class="text-right"><b>Tot.Bruto</b></td>
          <td>R$ {{objVenda.total_bruto | number: '1.2-2'}}</td>
          <ng-container *ngIf="objVenda.desconto_vlr > 0">
            <td class="text-right"><b>Descontos</b></td>
            <td>R$ {{objVenda.desconto_vlr | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container *ngIf="objVenda.acrescimo_vlr > 0">
            <td class="text-right"><b>Acréscimos</b></td>
            <td>R$ {{objVenda.acrescimo_vlr | number: '1.2-2'}}</td>
          </ng-container>
          <td class="text-right"><b>Tot.Líquido</b></td>
          <td>R$ {{objVenda.total_liquido | number: '1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="objVenda.observacao">
      <b>Observação:</b> {{objVenda.observacao}}
    </p>
  </div>
</ion-content>

<ion-footer class="border-0">
  <button [disabled]="gerando" (click)="downloadPdf()" class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button">
    <span class="float-left">
      <ion-icon name="document-text-outline"></ion-icon>
      Exportar para PDF
      <ion-spinner *ngIf="gerando" name="bubbles"></ion-spinner>
    </span>
  </button>
</ion-footer>
