<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>
      Detalhes da venda
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">
  <div #imprimir id="imprimir">
    <table class="table">
      <thead>
        <tr>
          <th style="font-size: 25px;" colspan="6" class="text-center alert alert-info">
            Venda
          </th>
        </tr>
        <tr>
          <td class="text-right"><b>Data</b></td>
          <td>{{objVenda.data | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </thead>
    </table>
    <br />
    <table class="table" *ngIf="objVenda.produtos">
      <thead>
        <tr class="alert alert-info">
          <th style="font-size: 20px;" colspan="6" class="text-center">{{objVenda.produtos.length}} produtos lançados
          </th>
        </tr>
        <tr class="alert alert-info">
          <th>Id</th>
          <th>Nome</th>
          <th>Vlr.Uni</th>
          <th class="text-right">Qtde</th>
          <th class="text-right">Vlr.Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of objVenda.produtos">
          <td>{{registro.id}}</td>
          <td>{{registro.nome}}</td>
          <td class="text-right">{{registro.valor_unitario | number: '1.2-2'}}</td>
          <td class="text-right">{{registro.quantidade | number: '1.0-3'}}</td>
          <td>{{registro.valor_total}}</td>
        </tr>
      </tbody>
    </table>

    <br />
    <p style="font-size: 20px;" class="text-center alert alert-info"><b>Valores</b></p>
    <table class="table">
      <tbody>
        <tr>
          <td class="text-right"><b>Qtde.Produtos</b></td>
          <td>{{objVenda.quantidade_produtos_lancados | number: '1.0-3'}}</td>
          <td class="text-right"><b>Vlr.Total</b></td>
          <td>R$ {{objVenda.valor_total | number: '1.2-2'}}</td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="objVenda.observacao">
      <b>Observação:</b> {{objVenda.observacao}}
    </p>
  </div>
</ion-content>

<ion-footer class="border-0">
  <button [disabled]="gerando" (click)="downloadPdf()" class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button">
    <span class="float-left">
      <ion-icon name="document-text-outline"></ion-icon>
      Exportar para PDF
      <ion-spinner *ngIf="gerando" name="bubbles"></ion-spinner>
    </span>
  </button>
</ion-footer>
