<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>Local de Estoque </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <app-txt-pesquisar #pesquisa (OnPesquisar)="onPesquisar($event)" placeholder="Local de Estoque"></app-txt-pesquisar>
  <p class="text-center" *ngIf="registros">
    {{ registros.length }} registros(s) localizado(s)
  </p>
  <app-consultando *ngIf="consultando"></app-consultando>
  <div *ngIf="!consultando" class="card mb-2">
    <div *ngFor="let registro of registros" (click)="onClicou(registro)" class="addresses-item mb-2 card">
      <div style="border-style: groove !important" class="gold-members p-3">
        <div class="media">
          <div class="media-body">
            <div class="shop-cart-right">
              <div class="small text-gray-500 d-flex align-items-center justify-content-between">
                <b style="font-size: 10px" class="text-secondary">Cód: {{ registro.id }}</b>
              </div>
              <b style="font-size: 14px" class="text-dark mb-2">{{ registro.descricao }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="modal.dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
