<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>Relatório de saída</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding order-list-page" color="light">
  <div #imprimir id="imprimir">
    <table class="table" *ngIf="objRelatorio">
      <thead>
        <tr class="alert alert-info">
          <th style="font-size: 20px;" colspan="6" class="text-center">
            Relatório de saída
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let obj of objRelatorio?.dados_json?.produtos" class="pb-4">
        <tr>
          <td>Cód: <b>{{obj.id}}</b></td>
          <td>Produto: <b>{{obj?.nome}}</b></td>
        </tr>
        <tr>
          <td><b>Qtde de produtos</b></td>
          <td>{{obj?.quantidade_original | number: '1.0-3'}}</td>
        </tr>
        <tr>
          <td><b>Valor Total</b></td>
          <td>{{obj?.valor_total_original | number: '1.2-2'}}</td>
        </tr>
        <br />
      </tbody>
    </table>
  </div>

  <h5 *ngIf="objRelatorio?.dados_json?.produtos?.length === 0" style="margin-top: 5px;"
    class="text-center font-weight-bold alert alert-warning small">
    Nenhum produto localizado
  </h5>
</ion-content>

<ion-footer class="border-0">
  <button [disabled]="gerando" (click)="downloadPdf()" class="btn btn-primary btn-lg btn-block fix-btn text-left"
    type="button">
    <span class="float-left">
      <ion-icon name="document-text-outline"></ion-icon>
      Exportar para PDF
      <ion-spinner *ngIf="gerando" name="bubbles"></ion-spinner>
    </span>
  </button>
</ion-footer>
