<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar [solicitar_confirmacao]="true">
      </app-btn-voltar>
    </ion-buttons>
    <ion-title>
      {{acao}} - <span class="badge badge-light">Venda</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding order-list-page shop-cart-page" color="light">
  <ng-container>
    <app-cabecalho-pesquisa-produto [nao_exibir_consultando]="true" [tela_vendas]="this"
      [tipo_preco_produto]="objVenda.dados_json.tipo_preco_produto" (OnConsultou)="OnConsultou($event)" #cabecalho
      [modal]="modal" [permitir_quantidade_zero]="false">
    </app-cabecalho-pesquisa-produto>
    <p class="text-center" *ngIf="objVenda.dados_json.produtos">
      {{objVenda.dados_json.produtos.length}} produto(s) lançado(s)
    </p>

    <app-item-venda *ngFor="let registro of objVenda.dados_json.produtos, let i = index" [registro]="registro"
      (OnMostrarOpcoesProduto)="mostrarOpcoesProduto(registro, i)"
      (OnLimparObservacaoItem)="limparObservacaoItem(registro)"
      (OnAjustarQuantidade)="ajustarQuantidade(registro, i, $event)"
      (OnAlterouQuantidadeManualmente)="alterouQuantidadeManualmente(registro, $event)">
    </app-item-venda>
  </ng-container>
</ion-content>

<ion-footer class="border-0">
  <ion-progress-bar *ngIf="recalculando_totais" type="indeterminate"></ion-progress-bar>
  <button [disabled]="recalculando_totais" (click)="SalvarVenda()"
    class="btn btn-primary btn-lg btn-block fix-btn text-left" type="button">
    <span class="float-left">
      <ion-icon name="cart-outline"></ion-icon>
      Salvar Venda
    </span>
    <span class="float-right">
      <strong>R$ {{objVenda.dados_json.total_liquido | number: '1.2-2'}}</strong>
    </span>
  </button>
  <ion-progress-bar *ngIf="recalculando_totais" type="indeterminate"></ion-progress-bar>
</ion-footer>
