<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar></app-btn-voltar>
    </ion-buttons>
    <ion-title>Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding order-list-page" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Arraste para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <app-consultando *ngIf="consultando; else exibirDados"></app-consultando>

  <ng-template #exibirDados>
    <h6 class="text-center">
      <ion-badge color="primary">Realizar venda de produtos</ion-badge>
    </h6>
    <ng-container>
      <app-cabecalho-venda *ngFor="let objVenda of vendas; let i = index" (click)="mostrarOpcoesVenda(objVenda, i)"
        [objVenda]="objVenda.dados_json">
      </app-cabecalho-venda>
    </ng-container>
    <h5 *ngIf="nenhuma_venda_localizada" style="margin-top: 5px;"
      class="text-center font-weight-bold alert alert-warning small">
      Nenhuma venda localizada
    </h5>
  </ng-template>

  <br />
  <br />
  <br />

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="AbrirTelaVenda()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
