<div>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <div class="ion-padding custom-skeleton">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <h3 *ngIf="texto" class="text-center">{{texto}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let item of fake_itens">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated [style]="'width: ' + item.n1 + '%'"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated [style]="'width: ' + item.n2 + '%'"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated [style]="'width: ' + item.n3 + '%'"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

  </ion-list>
</div>
