<div class="card mb-2 {{ GetClasse() }}">
  <div class="p-1">
    <div *ngIf="objBalanco.estoque_locais" class="d-flex justify-content-between mb-2">
      <div class="text-secondary">
        <span style="font-size: 12px">Local estoque</span> <br />
        <b>
          {{ objBalanco.estoque_locais.id }} -
          {{ objBalanco.estoque_locais.descricao }}
        </b>
      </div>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex justify-content-between mb-2">
        <div class="text-secondary">
          <span style="font-size: 12px">Data do balanço</span> <br />
          <b>{{ objBalanco.data | date : "dd/MM/yyyy HH:mm" }}</b>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between mb-2">
      <div class="text-secondary">
        <span style="font-size: 12px">Qtde de produtos</span> <br />
        <b *ngIf="objBalanco.produtos" color="primary">{{ objBalanco.produtos.length }}</b>
      </div>

      <div class="text-secondary">
        <span style="font-size: 12px">Saldo novo</span> <br />
        <b color="primary">{{ objBalanco.quantidade_produtos_lancados | number : "1.0-3" }}</b>
      </div>
    </div>

    <ng-container *ngIf="objBalanco.status_manipulacao === 1">
      <p class="text-center">Sincronizando com o servidor online...</p>
      <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    </ng-container>
    <ng-container *ngIf="objBalanco.status_manipulacao === 2">
      <p class="text-center">Excluindo...</p>
      <ion-progress-bar color="danger" type="indeterminate"></ion-progress-bar>
    </ng-container>
  </div>
</div>
