<div class="d-flex p-3 shop-cart-item bg-white mb-2">
<!--   <div *ngIf="readonly === false" class="shop-cart-left">
    <app-img [base64]="registro.imagem"></app-img>
  </div> -->
  <div class="shop-cart-right">
    <div (click)="mostrarOpcoesProduto()">
      <h6 class="font-weight-bold text-dark mb-1 small">
        <span class="text-secondary font-weight-normal">
          Cód: {{registro.id}}
        </span> |
        <ion-badge color="tertiary" style="vertical-align: bottom;">
          R$ {{registro.valor_unitario | number: '1.2-2'}}
        </ion-badge>
      </h6>
      <div class="mb-2">
        {{registro.descricao}}
        <br />
        <small style="font-size: 11px;"> Valor Total: <b>R${{registro.valor_total | number: '1.2-2'}}</b></small>
      </div>
    </div>
    <p *ngIf="registro.observacao" class="justify-content-between py-3 px-3 border-top text-dark">
      <ion-icon style="float: right;" color="danger" name="close-circle-outline" (click)="limparObservacaoItem()">
      </ion-icon>
      <b>Observação:</b> {{registro.observacao}}
    </p>

    <div class="small text-gray-500 d-flex align-items-center justify-content-between">
      <div class="input-group shop-cart-value">
        <span class="input-group-btn">
          <button [disabled]="readonly" (click)="ajustarQuantidade(-1)" class="btn btn-sm" type="button">-</button>
        </span>
        <input [readonly]="readonly" (ngModelChange)="alterouQuantidadeManualmente($event)" type="number"
          [(ngModel)]="registro.quantidade" class="form-control border-form-control form-control-sm input-number" />
        <span class="input-group-btn">
          <button [disabled]="readonly" (click)="ajustarQuantidade(1)" class="btn btn-sm" type="button">+</button>
        </span>
      </div>
      <h6>
        Valor Total.: <b>R${{registro.valor_total | number: '1.2-2'}}</b>
      </h6>
    </div>
  </div>
</div>
