<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-voltar #btnVoltar (OnVoltou)="aplicar()" [fechar_modal]="true"></app-btn-voltar>
    </ion-buttons>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <app-cabecalho-pesquisa-produto [texto_pesquisado]="texto_pesquisado" [tela_consulta]="this" [modal]="modal"
    [apenas_consulta]="true" [nao_exibir_consultando]="true">
  </app-cabecalho-pesquisa-produto>
  <p class="text-center" *ngIf="registros">
    {{registros.length}} produto(s) localizado(s)
  </p>
  <app-consultando *ngIf="consultando"></app-consultando>
  <div class="card" *ngIf="!consultando">
    <div *ngFor="let registro of registros; let i = index" class="d-flex p-3 shop-cart-item bg-white mb-2 sem-mb">
      <div class="shop-cart-left" *ngIf="registro.mostrar_foto">
        <app-img [base64]="registro.imagem" [consulta]="this" [index]="i" [descricao]="registro.descricao"></app-img>
      </div>
      <div class="shop-cart-right">
        <h6 style="font-size: 10px !important;" class="font-weight-bold text-dark mb-2 small"
          (click)="mostrarFoto(registro)">
        </h6>
        <h6 class="font-weight-bold text-dark mb-2 small" (click)="mostrarFoto(registro)">
          <span class="text-secondary font-weight-normal text-dark mb-0 p-1 small">Cód: {{registro.id}}</span> |
          <ion-badge color="primary" style="vertical-align: bottom;">
            R$ {{registro.valor_unitario | number: '1.2-2'}}
          </ion-badge>
          x{{registro.quantidade | number: '1.0-3'}} = R$ {{registro.valor_total | number: '1.2-2'}}
          <ion-icon size="large" class="float-right" color="success" name="checkmark-done-circle-outline"
            *ngIf="registro.quantidade > 0 || (cabecalho_parente?.permitir_quantidade_zero === true && registro.quantidade == 0)">
          </ion-icon>
        </h6>

        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
          <h6 class="font-weight-bold text-dark mb-2 small" (click)="mostrarFoto(registro)">
            Qtde. produto
            {{registro.quantidade_original}}
          </h6>
        </div>

        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
          <div class="mb-2" (click)="mostrarFoto(registro)">
            <h6 class="font-weight-bold text-dark mb-0 p-1 small">
              {{registro.nome}}
            </h6>
          </div>

          <h6 class="font-weight-bold text-dark mb-0 p-1 small" *ngIf="registro.produto_perecivel">
            Produto Perecível
          </h6>
        </div>
        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
          <div class="mb-2" (click)="mostrarFoto(registro)">
            <h6 class="font-weight-normal text-dark mb-0 p-1 small">
              Data de fabricação
              {{registro.data_fabricacao | date: "dd/MM/yyyy HH:mm"}}
            </h6>
          </div>

          <h6 class="font-weight-normal text-dark mb-0 p-1 small">
            Data de vencimento
            {{registro.data_vencimento | date: "dd/MM/yyyy HH:mm"}}
          </h6>
        </div>
        <div class="small text-gray-500 d-flex align-items-center justify-content-between">
          <small class="text-dark">Valor Total: {{registro.valor_total_original | number: '1.2-2'}}</small>
          <div class="input-group shop-cart-value" *ngIf="!apenas_consulta">
            <span class="input-group-btn">
              <button (click)="diminuirQuantidade(registro)" class="btn btn-sm" type="button">-</button>
            </span>
            <input type="number" min="0" [(ngModel)]="registro.quantidade"
              (ngModelChange)="onAlterouQuantidadeManualmente(registro)"
              class="form-control border-form-control form-control-sm input-number">
            <span class="input-group-btn">
              <button (click)="aumentarQuantidade(registro)" class="btn btn-sm" type="button">+</button>
            </span>
          </div>
        </div>
        <div *ngIf="registro.quantidade_adicionada"
          class="small text-gray-500 d-flex align-items-center justify-content-between">
          <small class="text-secondary">Quantidade já adicionada</small>
          <div class="input-group shop-cart-value">
            <span class="input-group-btn"></span>
            <input type="number" min="0" [(ngModel)]="registro.quantidade_adicionada" readonly="readonly"
              class="form-control border-form-control form-control-sm input-number">
            <span class="input-group-btn"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
</ion-content>
<ion-footer class="border-0">
  <ion-button *ngIf="!apenas_consulta" (click)="aplicar()" expand="block">
    Selecionar Produtos
    <ion-icon name="checkmark-done-outline"></ion-icon>
  </ion-button>

  <ion-button color="warning" *ngIf="apenas_consulta" (click)="aplicar()" expand="block">
    Fechar consulta
    <ion-icon name="cube-outline"></ion-icon>
  </ion-button>
</ion-footer>
